.case {
  &-container {
    width: 100%;

    &.up .case .content a {
      transition: all ease-in-out .3s;
      top: calc(#{navbarDesktopHeight(1680)}px - 1rem - 3px);
    }
      
    display: grid;
    grid-template-columns: repeat(var(--number-of-col), $case-size);
    grid-template-rows: repeat(var(--number-of-row), auto);
    grid-column-gap: $case-gap;
    grid-row-gap: $case-gap * 2.5;
  }

  &-page-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4rem 0;

    .page-number {
      &-box {
        height: 2rem;
        width: 2rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        border: 1pt solid $black;
        font-size: 14pt;
        color: $black;
        cursor: pointer;
        transition: all ease-in-out .1s;
  
        &.active {
          background-color: $black;
          color: $white;
        }

        &:hover {
          border-width: 0;
          font-size: 20pt;
        }
      }

      &-pre,
      &-next {
        border: none;

        &.unavailable {
          opacity: 0.5;
          pointer-events: none;
        }
      }

      &-pre {
        margin-right: -0.5rem;
      }

      &-next {
        margin-left: 0.5rem;
      }
    }
  }

  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: $case-image-height;
  cursor: pointer;

  &:hover {
    img {
      transform: scale(1.05);
      box-shadow: $general-box-shadow;
    }
  }

  img {
    position: relative;
    display: inline-block;
    margin: 2rem auto;
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: $case-image-height;
    z-index: 0;
    transition: all ease-in-out .1s;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    filter: blur(1px);
    transition: all ease-in-out .3s;

    &[lazy="loaded"] {
      filter: none;
      height: auto;
      margin: auto;
    }
  }

  .content {
    margin: $card-gap * 1.5 0;
    height: calc(100% - #{$case-image-height} - #{$card-gap} * 2);
    position: relative;

    a {
      height: 100%;
      display: flex;
      justify-content: center;
      font-size: 12pt;
      text-align: center;
      color: inherit;
      text-decoration: none;
      z-index: 1;

      &:before {
        content: '';
        position: absolute;
        height: $case-image-height;
        width: 100%;
        bottom: 0;
      }
    }
  }
}
