.spotlight {
  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: calc(100vh - #{navbarDesktopTopHeight(1680)}px);
    padding: $spotlight-padding-top-bottom $spotlight-padding-left-right;
    z-index: 0;

    @media screen and (max-width: 1600px) {
      padding: $spotlight-padding-top-bottom $spotlight-padding-left-right * 0.4;
    }

    @media screen and (max-width: 1280px) {
      padding: $spotlight-padding-top-bottom $spotlight-padding-left-right * 0.16;
    }

    @media screen and (max-width: 1080px) {
      padding: $spotlight-padding-top-bottom $spotlight-padding-left-right * 0.04;
    }
  }

  width: $spotlight-width;
}
