$navbar-logo-padding: 15px;
$navbar-top-line-height: 32px;

$general-box-shadow: 0 4px 12px rgba($black, .05);
$popup-box-shadow: 0 4px 12px rgba($black, .1);

$spotlight-width: 100%;
$spotlight-padding-left-right: 25rem;
$spotlight-padding-top-bottom: 2rem;